@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('./src/assets/logos/background.webp');
  background-position: center;
  background-size: contain;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.layout-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-side{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}

.left-side h3{
  color: azure;
}

.right-side{
  width: 50%;
}

.bottom-side{
  color: #96a397;
  position: absolute;
  bottom: 20px;
}

.bottom-side ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.bottom-side ul li{
  padding: 10px;
}

.bottom-side ul li:hover{
  color: #515552;
  cursor: pointer;
}

